@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

:root{
  --font-family: "Inter", sans-serif;
  --bg-color: #252954;
  --body-color: #9b9ca7;
  --main-bg: #0e0e23;
  --panel-bg:#303783;
}
* {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
 }
 /* .hidden {
  display: none !important;
 } */
html{
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   font-size: 16px;
}
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--body-color);
   
  }

.wrapper {
    box-sizing: border-box;
    display: flex;
    background-color: var(--main-bg);
    height:100vh;
    margin:0 4rem;
    
  }
.left-side {
  justify-content: center;
  align-content:space-between;
  box-sizing: border-box;
  width: 6rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;

}
.left-side svg{
  margin: 1rem 0px;
  width:1.5rem;
  cursor: pointer;
}
svg{
  width:1.5rem;
  color: var(--body-color);
}
.main-container{
margin: 1rem 1rem 1rem 0;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: var(--body-color);
  background-color: var(--panel-bg);
  padding:1rem;
  
}
.header:before {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 0;
  background-color: var(--main-bg);
 }
.user-info{
  display:flex;
  
}
img {
  max-width: 100%;
  width:2rem;
}