@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

$font-family: "Inter",
sans-serif;
$bg-color: #252954;
// $body-color: #9b9ca7;
$main-bg: #0e0e23;

$all-bg:#0e0e23;
$panel-bg:#252954;
$word-color:#606172;
$table-color:#10122b;

:root {}

html {
    font-size: 16px;
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: $bg-color;
    color: #9b9ca7;
    font-family: $font-family;
}

.wrapper {
    max-width: 1600px;
    background-color: $main-bg;
    display: flex;
    margin: 0 auto;
}

// 侧边栏
.left-side {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 6rem;
    padding: 117px 40px;

    svg {
        width: 24px;
        cursor: pointer;

        &:hover {
            color: #4255D3;
        }

        &+svg {
            margin-top: 34px;
        }
    }

    svg:last-child {
        margin-top: auto;
    }

}

.header {
    background: radial-gradient(circle, rgb(20, 24, 52) 0%, rgb(19, 22, 47) 100%);
    display: flex;
    padding: 0 30px;
    position: sticky;
    align-items: center;
    text-decoration: none;
    width: 100%;

    .logo {
        padding: 20px 50px 20px 0;
        font-size: 16px;
        color: #e7e8ea;

        &-det {
            margin-left: 2px;
            border-radius: 50%;
            padding: 8px 10px 8px 10px;

            background-color: #4255D3;
            font-size: 15px;
        }
    }

    &-link {
        padding: 20px;
        text-decoration: none;
        color: #9b9ca7;
        display: flex;
        border-bottom: 3px solid transparent;
        align-items: center;
        transition: 0.3s;

        svg {
            width: 20px;
            margin-right: 14px;
        }

        &.active,
        &:hover {
            background: #11132c;
            border-bottom: 3px solid #4255d4;

        }
    }
}

.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;

    .profile {
        width: 18px;
        margin-left: 12px;
        margin-right: 20px;
    }
}

.button {
    background: #1a1b3c;
    border: none;
    display: flex;
    align-items: center;
    color: #9b9ca7;
    padding: 2px 12px;
    border-radius: 4px;
    margin-right: 20px;

    svg {
        width: 16px;
        margin-left: 10px;
    }
}

.main-container {
    width: 100%;
    padding: 25px;
    padding-left: 0px;
    display: flex;
    overflow: auto;
    flex-direction: column;

    .user-box {
        margin-top: 25px;
        display: flex;

        &+& {
            margin-top: 20px;
        }

        &.first-box {
            display: flex;
            margin: 1rem 1rem 1rem 0;



            .discount {
                max-width: 320px;
                width: 100%;
                height: 100%;
                margin-left: 20px;
                color: $word-color;

                .title {
                    margin-bottom: 30px;
                }

                &.card {
                    background-color: $panel-bg;
                    max-height: 430px;
                    height: 100%;
                    padding: 40px 30px;
                }

                &-wrapper {
                    display: flex;
                }

                &-info {
                    .subtitle {
                        font-size: 13px;
                        margin-bottom: 8px;

                        &-count {
                            color: #17927E;

                            &+.subtitle {
                                // 相邻兄弟选择器
                                margin-top: 20px;
                            }

                            &.dist {
                                color: #e85471;
                            }
                        }
                    }
                }

                &-chart {
                    margin-left: auto;

                    .circle {
                        width: 100px;
                        height: 100px;
                        border: 3px solid #535771;
                        border-radius: 50%;
                        position: relative;

                        .pie {
                            width: 120px;
                            height: 120px;
                            left: 50%;
                            top: 50%;
                            position: relative;
                            transform: translate(-50%, -50%) rotate(-90deg);

                            svg {
                                width: 120px;

                                @keyframes pieChart {
                                    100% {
                                        stroke-dashoffset: 0;
                                    }
                                }

                                circle {
                                    // 未学习直接复制
                                    fill: transparent;
                                    stroke: #4356d6;
                                    stroke-width: 14;
                                    stroke-dasharray: 275;
                                    stroke-dashoffset: 235;
                                    animation: pieChart 3.8s linear forwards;

                                }
                            }
                        }

                        .counter {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }


                    }
                }

                &-profile {
                    display: flex;
                    align-items: center;
                    margin-top: 40px;


                    .by {
                        color: $word-color;

                    }
                }

                &-img {
                    width: 48px;
                    height: 48px;
                    margin: 0 16px 0 12px;
                    border-radius: 50%;
                }

                &-name {
                    font-weight: 500;
                    font-size: 15px;
                }

                &-type {
                    margin-top: 4px;
                    font-size: 13px;
                }

                .button {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;

                    &.offer-button {
                        margin-top: auto;
                        padding: 14px;
                        justify-content: center;
                        font-size: 13px;
                        margin-right: 0px;
                        cursor: pointer;
                        background: #4255d4;
                        text-align: center;
                        color: #fff;
                    }
                }
            }

            .cards {
                &-wrapper {
                    width: 67%;
                    max-width: 305px;
                    display: flex;
                    flex-direction: column;
                    background-color: $panel-bg;
                    padding: 1rem;
                    margin: 0 20px;

                    svg {
                        width: 1rem;
                    }

                    .cards-header {
                        display: flex;
                    }
                }

                &-header {
                    display: flex;
                    justify-content: center;

                    &-date {
                        display: flex;
                        justify-content: center;
                    }
                }

                &-head {
                    display: flex;
                    justify-content: center;
                }
            }

            .items {
                &.days {
                    display: flex;

                    .item {
                        box-sizing: border-box;
                        width: calc(100%/7);
                        text-align: center;
                    }
                }

                &.numbers {
                    display: flex;

                    flex-wrap: wrap;

                    .item {
                        box-sizing: border-box;
                        width: calc(100%/7);
                        text-align: center;
                    }
                }
            }
        }

        &.second-box {
            display: flex;

            .cards {
                &-wrapper {
                    background-color: $panel-bg;
                    padding: 1rem;
                }

                &-header {
                    display: flex;

                    &-date {
                        display: flex;

                        svg {
                            width: 1rem;
                        }
                    }
                }

                &-view {

                    svg {
                        width: 1rem;
                    }
                }

                &-button {
                    &.button {
                        svg {
                            width: 1rem;
                        }
                    }
                }
            }

            .card {
                &.transection {
                    background-color: $panel-bg;
                    margin-left: 1rem;
                    padding: 1rem;
                }
            }
        }
    }
}

.activity {
    max-width: 480px;

    .title {
        margin-bottom: 20px;
    }


    &-links {
        display: flex;
        align-items: center;
        margin-top: auto;

    }

    &-link {
        cursor: pointer;
        padding-bottom: 10px;

        &.active {
            font-weight: 500;
            color: #bebec4;
        }
    }
}

.card {
    background: radial-gradient(circle, rgb(26, 32, 73) 0%, rgb(19, 22, 47) 100%);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    max-height: 430px;
    width: 100%;
    border-radius: 6px;

    .title {
        font-size: 16px;
        font-weight: 500;
    }

    .subtitle {
        font-size: 13px;
        line-height: 1.6em;
    }
}

.destination {
    display: flex;

    &-card {}

    &-profile {
        img {
            width: 1rem;
        }
    }

    &-length {
        svg {
            width: 1rem;
        }
    }
}


svg {
    width: 1rem;
}

img {
    width: 12px;
}
