
:root{  
    --panel-bg:rgb(20, 24, 53);
    --wrapper-bg:rgb(13, 14, 34);
    --date-head-bg:rgb(16, 18, 43);
}
html{
    font-size: 16px;
    color:rgb(225, 226, 234);
}
/* 整体样式 */
.wrapper{
    display: flex;
    background-color: var(--wrapper-bg);
    height: 100vh;
}

/* 侧边栏 样式 */
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-side svg{
    width: 2rem;
    margin: 1rem;
    
}

/* 主要界面栏 样式 */
.main-container{
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
}
/* -- 界面头 */
.header{
    margin: 1.5rem 1.5rem 0 0;
    display: flex;
    background-color: var(--panel-bg);
    padding: 1.5rem;
    align-items: center;
    border-radius:1rem;
}
.header svg{
    color:rgb(225, 226, 234);
    padding-left: 2rem;
    padding-right: 0.5rem; 
}
.header .user-info{
    display: flex;
    margin-left: auto;
}
.header a{
    color:rgb(225, 226, 234);
    text-decoration:none;
}

/* 第一个盒子 */
.first-box{
    display: flex;
}
.first-box .card{
    background-color: var(--panel-bg);
    margin:0 1rem 1rem 0rem;
}
/* -- 用户活动信息 */
.first-box .activity{
    width: 30%;
}
/* -- 用户信息统计 */
.first-box .discount{
    width: 20%;
}
/* --日历信息 */
.first-box .cards-wrapper{
    width: 30%;
}
.cards-wrapper .cards-header{
    display: flex;
    justify-content: center;
    padding:1rem 0;
    background-color: var(--date-head-bg);
}
.cards-header .cards-info{
    display: flex;
    padding: 0.5rem;
}
/* -- -- 日历时间*/
.item{
    text-align:center;
    width: calc(100% /7);
}
.days{
    display: flex;
}

.numbers{
    display: flex;
    flex-wrap:wrap;

}


.first-box .account-wrapper{
    width:20%;
}

/* other */
.user-box{
    margin: 1.5rem 1.5rem 1.5rem 0;
}
svg,img{
    width:1rem;
}